@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    "BMW Ентусиастът" (The BMW Enthusiast's) е основан в края на 1999 като основната идея е не да се създаде поредната лична страница, обожествяваща марката BMW, а да се създадат условия за създаване на българска или регионална общност на BMW Ентусиасти - хора, за които шофирането е не просто средство за транспорт, а вълнуващо душевно преживяване, носещо не само наслада, но и усещане за свобода. Марката BMW олицетворява именно този дух, затова сайтът е посветен основно на тези автомобили.

2000г.
Юли месец започва да действа мейлинг-лист, при който се провеждат дискусии посредством електронна поща. Два месеца по-късно се появява и IRC-канал, който да допълни възможностите за комуникация. Тогава феновете, които използват тези пособия, за да кореспондират, са по-малко от 20 човека от цяла България.

2001г.
Това съсловие намира убежище във форумите на dir.bg, където се присъединяват още ентусиасти към "виртуалното братство". Във форум дискусиите протичат доста ускорено, сравнено с мейлинг-листата, защото са общодостъпни и много по-лесно нови членове се включват в интернет говорилнята. Всичко това дава ясни индикации, че форумът е основен начин на общуване, което води до един логичен ход - създаването на форум към съществуващия вече сайт на БМВ-ентусиастите.

2002г.
Започват да се включват все повече хора от различни краища на нашата родина и от чужбина, което прави възможно организирането и пропагандирането на първия по рода си БМВ-Събор, който се състои в Пловдив. По това време вече БМВ-Клуб България има официална регистрация съгласно българското законодателство и тези на BMW AG, към чиято структура принадлежи, и е със статут на официален за България. На мероприяето се срещат шофьорите на 20 автомобила с марката БМВ от София, Пловдив, Стара Загора и Казанлък. Много хора не познават никого, знаят единствено от сайта/форума или от някого, че на тази дата се събират почитатели на пропелеровите автомобили от Мюнхен, което не им попречило в уговорения ден и час да са на мястото. Съборът протича в първото в историята на България БМВ-шествие из Пловдив, в което автомобилите заемат и трите ленти за движение и приковават погледи на минувачи, други участници от движението и не на последно място - вниманието на органите на реда, които за пръв път виждат толкова БМВ-та и усмихнати лица на едно място. Естествено, автомобилите представляват интерес дори за полицаите и няма инциденти по време на този събор, който обхваща в програмата си провеждане на състезания на изоставено летище. Активността във форума се засилва след това мероприятие, отчасти и заради нововъвдението в клуба - стикери за автомобили, рекламиращи портала на българските БМВ ентусиасти. По това време числеността на форума е малко над 200 потребителя. За пръв път през ноември месец се провежда седмична сбирка, която става регулярна и се провежда и до ден днешен. На първата редовна сбирка се събират 6 автомобила и то благодарение на подкрепата на ентусиасти, дошли специално от Враца да уважат това събитие.

2003г.
Тя дава огромен тласък на клуба и неговата популярност. Съборът се подготовя отново от един човек, реклама за него излиза в автомобилно списание, а листи с програмата са принтирани на обикновен принтер и раздавани от ентусиастите на ръка през свободното им време. Особена гордост за клуба са и първите легално организирани в България състезания на 402 метра, охранявани от полицията и в присъствието на пожарен и лекарски екип. Нещо, което никой не очаква, са над 120 автомобила БМВ на едно място, две радиопредавания по местни радиостанции, както и едно предаване по национална телевизия, отразяващи събора, и няколкохилядната тълпа. За няколко месеца от 300 потребитли форума се разраства на почти 2000, все по-силно става присъствието на потребители от градове, различни от София, Пловдив и Стара Загора. На сбирките в София вече могат да се виждат по около 10-тина автомобила, понякога и повече.

2004г.
Затвърждава се положението на БМВ-Клуб България на най-бързо разрастващ се български автомобилен клуб. Съборът отново е в Казанлък, отново по позната програма, включваща състезания и конкурси за красота и аудио и видеоозвучение в автомобилите. За пръв път присъстват като спонсори големи фирми. Автомобилите са малко повече от 150. Организират се първи регионални сбирки извън София (в началото в Пловдив и Враца), посещенията до Пловдив на отделни групи от страната става периодично явление. Форумът и популярността на клуба продължават да растат с много високи темпове. Организират се все повече мероприятия, които включват масови посещения на туристически обекти, самолетни писти, както и все повече общи сбирки с други авто-клубове.

2005г.
Година, която търновският край ще запомни с над 200 представители на марката БМВ на едно място, състезания в проливен дъжд, веселба в хотелските басейни. Форумът е разширил многократно териториалното си покритие, редовни сбирки се организират вече и във Варна. Софийска сбирка с численост под 20 автомобила се счита за слабопосетена. Благодарение на ентусиазма на няколко души, това е годината, в която БМВ-Клуб България започва да издава и разпространява DVD с обработени записи от събора. Още по-забележително е първото посещение на дом за сираци с цел подпомагане не само във финансов, но най-вече в чисто човешки аспект – с внимание към децата. Тук отново клубът е пионер в тази сфера.

2006г.
Над 300 автомобила на първата официална автомобилна писта в Пловдив събира БМВ-Клуб България на ежегодния си събор. Огромен успех по отношение на организация и реализация, на съборът вече може да бъде намерена и ПИТ – Палатка, в която специалисти дават безплатни консултации и поправят дребни неща в движение, за да може всички участници в събора да се радват максимално на изживяването. Освен това присъства и комисия на EMMA – международна организация и асоциация на аудио-клубовете. Осъществяват се и сериозно контакти с БМВ-клубовете от Русия и Украйна, форумът става все по-интернационално посещавано интернет пространство. Регионални сбирки има вече във всеки един по-голям град в България, започва успешното обособяване на регионални центрове със собствена организация. Редовни са събиранията на съседни по големина градове, както и събирането на ентусиасти от цяла България на едно място за един следобяд по няколко пъти в година. С гордост и несекващ ентусиазъм фенове на марката продължават да се грижат вече втора година за децата от приюта за бездомни.

2007г. 
За предстоящата година Клубът си е поставил още по-големи цели – още повече автомобили от марката БМВ на едно място и то с интернационално присъствие. Естествено и връщане на жеста с визита на събори на другите БМВ-Клубове на територията на Европа и Азия. И още повече мирис на изгоряла гума и усмивки.

Автор: Атанас Динков (Ati), Андрей Барабонков (LandShark) <br />

    © BMWPower-BG.net 2012
</article>

<aside>
    
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>